@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;600&display=swap");

// Navbar col

$Navbarcolor: red;

// Navbar content color

$navcontentfont: "Source Sans Pro", sans-serif;
$navcontentcolor: white;
$navcontentweight: bold;
$navcontentsize: 1rem;
$navlihover: black;

// button component

$btncolor: red;
$btntextcolor: white;
$btnfontsize: 1.5rem;
